body {
    background-color: #f4f7f7;
}

h1 {
    color: #34495e;
}

p {
    color: #34495e;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}